.show-register-table {
display: flex;
width: 26em;
background-color: #aedeea;
margin: auto;
}
.show-register-table {
    border: 1px solid white;
}
.w-2{
width: 2em;
}
.w-3{
width: 2em;
}

.w-3{
width: 3em;
}
.w-4{
width: 4em;
}
.w-5{
width: 5em;
}
.w-6{
width: 6em;
}
.w-7{
width: 7em;
}
.w-16{
width: 16em;
}