@import 'Components/Header/Header.scss';
@import 'Components/Boton/Boton.scss';
@import 'Components/Footer/Footer.scss';


html,body,#root {  height: 100%;  margin: 0; background-color: black;}
h1{color:white;}